*{
  margin:0;
  padding:0;
}
body{
  background-image: url("a.jpg");
  background-size: cover;
}
h1{
  text-align: center;
  padding:20px;

}
h2{
  text-align: center;
  padding:20px;

}
.register{
  background: #2d86b0;
  width: 400px;
  margin: 0px 0px 0px 430px;
  color: white;
  font-size: 14px;
  padding: 14px;
  border-radius: 8px;

}
#register{
  margin-left: 50px;

}
label{
  color: white;
  font-family: sans-serif;
  font-size: 18px;
  font-style: italic ;

}
#fname{
  width: 300px;
  border: none;
  border-radius: 3px;
  outline: 0;
  padding: 7px;


}
#lname{
  width: 300px;
  border: none;
  border-radius: 3px;
  outline: 0;
  padding: 7px;


}
#add{
  width: 300px;
  border: none;
  border-radius: 3px;
  outline: 0;
  padding: 7px;


}
#email{
  width: 300px;
  border: none;
  border-radius: 3px;
  outline: 0;
  padding: 7px;


}
#ph{
  width: 65px;
  padding: 7px;
  border: none;
  border-radius: 3px;
  outline: 0;

}
#num{

  width: 230px;
  padding: 9px;
  border: none;
  border-radius: 3px;
  outline: 1px;


}
#bdate{
  width: 300px;
  padding: 9px;
  border: none;
  border-radius: 3px;
  outline: 1px;

}
#sub{
  width: 180px;
  padding: 7px;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 600;
  border: none;
  border-radius: 3px;
  outline: 0;

}
#agree{
  padding: 7px;
  border:none;
  outline: 0;
  border-radius: 3px;

}
